
/* 

COLORS

Blue: 
Hex: #01384c
rgba: rgba(1,56,76,1)

Brown: 
Hex: #4c3726
rgba: rgba(76,55,38,1)

Green: 
Hex: #0d4f1f
rgba: rgba(13,79,31,1)

*/


/* ////////////////////////

Globel Settings

/////////////////////// */

* {
    outline: none;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: rgba(1,56,76,.05);
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Lancelot', cursive;
}

h1 {
    font-size: 85px;
    font-weight: regular;
}

h2{
    font-size: 50px;
}

h3 {
    font-size: 35px;
    color: white;
}

a {
    text-decoration: none;
}

/* Globel form settings */
input {
    background-color: rgba(255,255,255,.8);
    border: none;
    border-bottom: solid 5px rgba(13,79,31,1);
    margin: 10px 0;
    padding: 12px;
    width: 250px;
    border-radius: 5px;
    animation: 3s ease-in-out 1s infinite input-wiggle;
}

label {
    display: block;
    color: #01384c;
}

legend {
    color: rgba(13,79,31,1);
    font-size: 45px;
    text-align: center;
}



button {
    background-color: #fff;
    padding: 12px;
    color: #000;
    border: none;
    border-bottom: solid 5px rgba(13,79,31,1);
    cursor: pointer;
}

header {
    position: relative;
    padding: 100px 0;
}

header img {
    width: 100px;
    background: rgba(1,56,76,1);
    border-radius: 20px;
    padding: 10px;
    z-index: 2;
    animation: .8s linear logo-slide;
}

.hero-lg {
    background-image: url(assets/images/main_cafe_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    text-align: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    top: 0;
    z-index: 100;
}

.header-inner img {
    margin-left: 40px;
    width: 60px;
}

nav {
    list-style: none;
    margin-right: 40px;
}

ul li {
    display: inline-block;
    padding-left: 3rem;
}

li a {
    color: #fff;
}

li:hover a {
    color: rgba(108, 208, 245, 0.6);
}





/* ////////////////////////

Index/landing and Suggest Page settings

/////////////////////// */



#index,
#suggest {
    padding: 80px;
    background-image: url(assets/images/main_cafe_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#index li a,
#suggest li a {
    color: #01384c;
}

#index header,
#suggest header {
    text-align: center;
    height: 200px;
}

#index .header-inner,
#suggest .header-inner {
    background: rgba(255,255,255,.75);
    border-bottom: solid 5px rgba(13,79,31,1);
}

#landing-form {
    margin: 30px auto;
    padding: 60px 20px;
    width: 600px;
    background-color: rgba(255,255,255,.7);
    animation: .8s linear form-slide;
}

#suggest-form {
    margin: 30px auto;
    padding: 60px 20px;
    width: 600px;
    background-color: rgba(255,255,255,.7);
    animation: .5s linear form-slide;
}

#cafe-name-wrapper,
#cafe-address-wrapper,
#cafe-site-wrapper {
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
    text-align: left;
}

#landing-form fieldset,
#suggest-form fieldset {
    margin: 40px auto;
    border: none;
    text-align: center;
}

#suggest-link {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: solid 2px black;
    background-color: rgba(255,255,255,.7);
}

#suggest-link a {
    color: #000;
}




/* ////////////////////////

Search Page settings

/////////////////////// */


#greeting {
    padding: 50px 0;
    text-align: center;
    font-size: 85px;
}


/* Thumbnails and info */

#thumbnail-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 40px 100px 40px;
}

.cafeBlock {
    display: block;
    position: relative;
    width: 25%;
    height: 200px;
    margin: 20px 0;
    padding: 40px;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    transition: box-shadow .3s ease-in-out;
}

.cafeBlock:nth-child(even) {
    animation: .4s ease-in fade-in1;
}

.cafeBlock:nth-child(odd) {
    animation: .8s ease-in fade-in2;
}

.cafeBlock:nth-child(3) {
    animation: .6s ease-in fade-in1;
}

.cafeBlock a,
.cafeBlock span {
    display: block;
    position: relative;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    font-size: 45px;
    font-family: Roboto, sans-serif;
    color: #fff;
    z-index: 100;
}

.cafeBlock:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(76,55,38,.6);
    border-radius: 20px;
}


.cafeBlock:hover {
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,.6);
}



/* ////////////////////////

About Page settings

/////////////////////// */



#bio-wrapper {
    display:flex;
    text-align:center;
}

.bio {
    padding:30px;
}

.biopic {
    width: 150px;
    height: 120px;
    margin-bottom: 30px;
}

.bio p {
    padding: 0 35px;
    font-size: 110%;
    line-height: 1.5em;
    font-weight: regular;
    font-family: Roboto, sans-serif;
}


/* ////////////////////////

Profile Page settings

/////////////////////// */


#profile .header-inner {
    background: rgba(255, 255, 255, 0.6);
}

#profile li a {
    color: black;
}

#hero-profile {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 100px;
}

#hero-profile:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(76,55,38,.6);
    z-index: 0;
}


#hero-cafe-info {
    position: relative;
    display: block;
    text-align: center;
    padding: 50px;
    color: white;
    z-index: 1000;
}

#hero-cafe-info span {
    font-size: 60px;
}


#work-section,
#menu-section,
#comm-section {
    display: flex;
    position: relative;
    width: 60%;
    margin: 30px auto;
    align-items: center;
    padding: 3.5rem;
    border: solid 2px black;
    border-radius: 20px;
    background: #043a4d;
    color: #8a8a8a;
    text-shadow: 1px 1px 3px black;
}

#work-section h1,
#menu-section h1,
#comm-section h1 {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 40px;
}

.work-ratings,
.menu-ratings,
.comm-ratings {
    margin-left: 30px;
    border-left: solid 2px black;
}

.score-bar {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 30px;
    font-size: 25px;
    border-bottom: solid 2px rgba(0,0,0,.1);
}

.score-bar:last-child {
    border-bottom: none;
}

.score-bar h4 {
    width: 200px;
    padding: 0 20px;
    font-family: Roboto, sans-serif;
}

.cups img {
    width: 50px;
    padding: 0 10px 0 0;
}

.work-icon img,
.menu-icon img,
.comm-icon img {
    position: relative;
    width: 120px;
    height: 120px;
}

.work-icon,
.menu-icon,
.comm-icon {
    position: relative;
}

.work-icon span,
.menu-icon span,
.comm-icon span {
    display: block;
    position: absolute;
    font-size: 90px;
    bottom: -40px;
    right: 0; 
}


footer {
    margin-top: 100px;
    text-align: center;
}







/* //////////////////////////

ANIMATIONS

//////////////////////// */

/* FORM ANIMATIONS */
@keyframes form-slide {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes input-wiggle {
    0% {
        transform: rotate(1deg);
    }

    10% {
        transform: rotate(-1deg);
    }

    12% {
        transform: rotate(1deg);
    }

    22% {
        transform: rotate(-1deg);
    }

    23% {
        transform: rotate(0deg);
    }

    75% {
    }

    100% {
    }

}


@keyframes logo-slide {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* CODEBLOCK FADE IN */

@keyframes fade-in1 {
    0% {
        opacity: 0;
        transform: translateX(15px) translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes fade-in2 {
    0% {
        opacity: 0;
        transform: translateX(-15px) translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}